TestResult.xml
Tests.VisualState.xml
*.bak
*.manifest
*.dll
*.pdb
*.cache
*.suo
*.orig
*.user
.svn
_ReSharper*
.DS_Store
*.usertasks
*.userprefs
packages/
source/Loggly.Example/loggly.user.config
SolutionItems/Thumbs.db
*.nupkg

