<?xml version="1.0"?>
<!--
Create your own loggly.user.config file using this file as a template.
Don't forget to update it with your own customer token 
-->
<loggly 
  xmlns="Loggly" 
  applicationName="Loggly.Example" 
  customerToken="89ba7ea0-89df-4a37-9a54-35c97772954d" 
  throwExceptions="true">

  <transport logTransport="Https" endpointHostname="logs-01.loggly.com" endpointPort="443"/>
  
  <search account="dnstech" username="damiensawyer" password="MTsQ9AqkhE63"/>
  
  <tags>
    <simple>
      <tag value="winforms"/>
      <tag value="_$illegalTag()"/>
    </simple>
    <complex>
      <tag type="Loggly.HostnameTag" formatter="host-{0}"/>
      <tag type="Loggly.ApplicationNameTag" formatter="application-{0}"/>
      <tag type="Loggly.OperatingSystemVersionTag" formatter="os-{0}"/>
      <tag type="Loggly.OperatingSystemPlatformTag" formatter="platform-{0}"/>
    </complex>
  </tags>
</loggly>